<% layout('layout/boilerplate') -%>
    <div class="container">
        <h1>Welcome to my Web space</h1>
        <h3>My Apps</h3>
        <ul>
            <li> <a href="/todo">To-Do APP</a> </li>
        </ul>
    </div>