<% layout('layout/boilerplate') -%>
    <h1>Edit Todo</h1>
    <form action="/todo/<%= todo._id %>?_method=PATCH" method="POST">
        <input type="text" name="newTodo" placeholder="Input Todo" value="<%= todo.todo %> ">
        <button>Update To-do</button>
    </form>

    <h6><a href="/todo">ALL TO-DO'S</a></h6>