<% layout('layout/boilerplate') -%>
    <h1>To Do items</h1>
    <ul class="list-group mb-2">
        <% for( todo of todoList){ %>
            <li class="list-group-item">
                <span class="lead">
                    <a href="/todo/<%=todo._id%>" class="link">
                        <%= todo.todo%>
                    </a>
                </span>
                <div class="pull-right">
                    <a href="/todo/<%=todo._id%>/edit" class="btn btn-sm btn-warning">Edit</a>
                    <form style="display: inline" action="/todo/<%=todo._id%>?_method=DELETE" method="POST">
                        <button class="btn btn-sm btn-danger">Delete</button>
                    </form>
                </div>
                <div class="clearfix"></div>
            </li>
            <% } %>
    </ul>
    <a href="/todo/new" class="btn btn-primary">New items</a>