<% layout('layout/boilerplate') -%>
    <h1>Create New item</h1>
    <form action="/todo/new" method="POST" class="mb-2">
        <div class="form-group mb-2">
            <label for="newTodo">Item Text</label>
            <input id="newTodo" type="text" name="newTodo" placeholder="Input Todo item" class="form-control">
        </div>
        <button class="btn btn-primary">Add To-do</button>
    </form>

    <h6><a href="/todo">ALL TO-DO'S</a></h6>