<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=ejs, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <title> To-Do App</title>
</head>

<body>
    <%- body -%>
        <script src="/js.js"></script>
        <script src="/bootstrap.min.js"></script>
</body>

</html>